.aboutHeader {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.aboutContainer {
  display: flex;
  align-items: center;
  flex-direction: space-between;
}

.aboutBio {
  padding-right: 2rem;
}

.aboutLink {
  text-decoration: none;
  font-weight: 700;
}

.profile {
  width: 30vw;
}

@media screen and (max-width: 800px) {
  .aboutContainer {
    flex-direction: column;
  }

  .abouth2 {
    font-size: 25px;
    line-height: 25px;
  }

  .aboutp,
  .aboutli {
    font-size: 11px;
    line-height: 15px;
  }

  .aboutBio {
    padding-right: 0;
  }

  .profile {
    width: 40vw;
    margin-top: 1rem;
  }

  .carta {
    color: rgb(229, 238, 242);
  }

  .td {
    color: rgb(81, 178, 63);
  }

  .piinpoint {
    color: rgb(171, 35, 31);
  }

  .cytel {
    color: rgb(34, 34, 147);
  }

  .aboutContact {
    text-decoration: underline;
    font-weight: 400;
  }
}
