html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(34, 34, 34);
  color: white;
}

html {
  color-scheme: dark;
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2em;
  background-color: white;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

a:hover::after,
a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.5em, 0);
}

@media screen and (max-width: 768px) {
  .app {
    padding: 2rem 5vw;
  }
  nav {
    justify-content: space-between;
  }
  ul {
    flex-direction: column;
    /* text-align: right; */
  }
  .nav-link {
    font-size: 12px;
    line-height: 15px;
  }

  a:hover::after,
  a:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.5em, 0);
  }
}

* {
  box-sizing: border-box;
}

li {
  padding: 0 1rem;
}

ul {
  list-style-type: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo a::after {
  background-color: rgba(0, 0, 255, 0);
}

.navbar-logo img:hover {
  /* margin: 30px; */
  border-radius: 50%;
  box-shadow: 0 0 5px #ff02c0;
  animation: glow 2s linear infinite alternate;
}

@keyframes glow {
  to {
    box-shadow: 0px 0px 10px 10px #5adddd;
  }
}

.navbar-links {
  display: flex;
}

.navbar-logos {
  display: inline-block;
  margin-right: auto;
  margin-left: 0;
}
