.app {
  padding: 2rem 4vw;
}

.container {
  /* min-height: 100vh; */
  /* padding: 4rem 0; */
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  line-height: 1.15;
  font-size: 3rem;
}

.title {
  text-align: center;
}

.subheading {
  text-overflow: clip;
  overflow: hidden;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .title {
    font-size: 8vw;
    line-height: 9vw;
    margin-top: 5rem;
  }
  .subheading {
    font-size: 4vw;
    line-height: 6vw;
    padding-top: 1.5rem;
  }
}

.footerContainer {
  margin-top: 5rem;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footerImg {
  margin: 0 1rem;
}

@media screen and (max-width: 800px) {
  .footerImg {
    width: 25px;
    margin: 0 2vw;
  }

  .footerContainer {
    margin-top: 3rem;
  }

  .pFooter {
    font-size: 11px;
  }
}

.aboutText {
  align-items: center;
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 400;
}

.aboutContainer {
  display: flex;
  align-items: center;
}

.profile {
  width: 30vw;
}

@media screen and (max-width: 800px) {
  .aboutContainer {
    flex-direction: column;
  }

  .aboutText {
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 16px;
    font-weight: 400;
  }
}

.photo {
  margin: auto;
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 5px solid #e2e8f0;
}
